APP_NAME=StoryNook API
API_V1_PREFIX=/api/v1
APP_ENV=dev
DEV_API_TOKEN=dev-change-this-token
PROD_API_TOKEN=prod-change-this-token
CORS_ORIGINS=["*"]
GCP_PROJECT=storynook-491620
GCP_LOCATION=us-east1
IMAGEN_LOCATION=us-central1
IMAGE_GENERATION_DELAY_SECONDS=3
IMAGE_WORKERS=1
